body {
  background-color: rgb(0, 221, 221);

  color: white;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
}

.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;

  margin-top: 5%;
  height: auto;
  max-width: 100px;

  border-radius: 50%;
}

.profile-name {
  text-align: center;
  font-family: 'Commissioner', sans-serif;
  padding: 30px;
  font-size: 16px;
}

.links {
  text-align: center;
  margin-top: 20px;
  border: 1px solid rgb(255, 255, 255);
  border-width: 2px;
  padding: 20px;

  width: 290px;
  display: block;
  margin-left: auto;
  margin-right: auto;

  border-radius: 40px;

  font-size: 18px;
}

a {
  text-decoration: none;
  font-family: 'Commissioner', sans-serif;
  color: rgb(255, 255, 255);
  transition: color 1s;
}

a:hover {
  color: black;
  background-color: white;
  animation-timing-function: cubic-bezier();
}

.copyright-text{
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 0;
  font-family: 'Commissioner', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}